#Section6{
    clear: both;
    width: 100%;
    background-color:  #f6fcfa;
    /* justify-content: stretch; */
    /* background-color: blueviolet; */
    margin-top: 0px;
  }
  #stats-wrapper{
  width: 100%;
  
  padding: 100px 0;
  /* margin:0 auto; */
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
  
  
}
.sec7head{
    color: black;
    
    font-size: 44px;
    font-weight: 600;
}
.stats-item p{
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    font-weight: 500;
    
}
